.sliderItem {
  background-color: #2e71f0;
  height: 180px;
  color: #fff;
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  box-sizing: border-box;
}
.container {
  width: 980px;
  margin: 0 auto;
}
